*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #1E1E1E;
}

img{
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

a{
  text-decoration: none;
  color: lightblue;
  font-weight: bold;
}

a:hover{
  text-decoration: underline;
}
.container{
  width: 1024px;
  margin: 0 auto;
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}

.card-wrap{
  width: 190px;
  background-color: #D7AD3A;
  padding: 5px;
  border-radius: 10px;
  animation: color 10s linear infinite;
}

@keyframes color {
  from{ 
    background-color: #1E1E1E;
  }
  25%{
    background-color: silver;
  }
  50%{
    background-color: silver;
  }
  100%{
    background-color: #1E1E1E;
  }
}

.info{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 3px;
  margin-top: 3px;
  font-size: 12px;
  color: white;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}